<form {{action 'submitItem' on="submit"}}>

  <label for="name">Item Name</label>
  {{input value=name id="name"}}

  <label for="price">Item Price</label>
  {{input value=price id="price"}}

  <label for="size">Item Size</label>
  {{input value=size id="size"}}

  <label for="description">Item Description</label>
  {{input value=description id="description"}}


  <label for="image">Image URL</label>
  {{input value=image id="image"}}

  <label for="details">Item Details</label>
  {{input value=details id="details"}}

  <button type='submit'>Submit</button>

</form>
