<form {{action 'addComment' on="submit"}}>
  <label for="title">Title:</label>
  {{input value=title id="title"}}

  <label for="name">Name:</label>
  {{input value=name id="name"}}

  <label for="body">Comment:</label>
  {{input value=body id="body"}}

  <button type="submit">Submit Comment</button>
</form>



<button {{action 'sendRating' perfume 5}}>5</button>
<button {{action 'sendRating' perfume 4}}>4</button>
<button {{action 'sendRating' perfume 3}}>3</button>
<button {{action 'sendRating' perfume 2}}>2</button>
<button {{action 'sendRating' perfume 1}}>1</button>
